.protection-section {
    color: #f5efe6;
    margin: 0 34px 0 30px;
    background-image: url(./assets/hero-bg.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 41px;
    font-family: 'Satoshi', sans-serif;
    min-width: 329px;
    min-height: 653px;
    container-type: inline-size;
  }
  
  .protection-header {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .protection-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0 0 0;
    max-height: 57px;
    box-shadow: inset 0px 0px 26px #67CBAB17;
    border-radius: 43px;
    opacity: 0.66;

    background: rgba(112, 112, 112, 0.15) 0% 0% no-repeat padding-box;
  }
  
  .protection-logo img {
    width: 46px;
    height: 46px;
    margin-right: 10px; 
  }
  
  .tagline {
    font-size: 4cqi;
    font-size: clamp(16px, 4cqi, 23px);
    font-weight: 300;
    color: #f5efe6;
    line-height: 22px;
    padding: 0 37px 0 0;
    
  }
  
  .protection-title {
    font-size: 7.6cqi;
    font-size: clamp(40px, 7.6cqi, 96px);
    font-weight: 500;
    margin: 20px 0;
    color: #f5efe6;
  }
  
  .protection-subtitle {
    font-size: 34px;
    font-size: clamp(34px, 4cqi, 78px);
    font-weight: 300;
    color: #f5efe6;
    margin: 0 0 68px 0;
  }

  .protection-stats {
    display: flex;
    justify-content: space-evenly;
    border-radius: 35px;
    margin: 0 auto 15px;
    width: 303px;
    height: 252px;
    
    background: transparent linear-gradient(180deg, rgba(112, 112, 112, 0.05) 0%, rgba(56, 56, 56, 0.05) 100%) 0% 0% no-repeat padding-box;
    backdrop-filter: blur(22px) brightness(110%);
    
    flex-wrap: wrap;
    align-items: center;

   }

   @media (min-width: 960px) {
    .protection-stats {
        display: none;
    }
  }

  .stat {
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 94px;
  }
  
  .stat-number {
    font-size: 38px;
    font-weight: 500;
  }
  
  .stat-label {
    font-size: 15px;
    color: #f5efe6;
  }

  .services {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;

  }
    .services-button {
    width: 49px;
    height: 49px;
    background-color: #f5efe6;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 23px 0 48px;
  }

  .statsContainer {
    display: flex;
    justify-content: space-evenly;
    
    background: transparent linear-gradient(180deg, rgba(112, 112, 112, 0.05) 0%, rgba(56, 56, 56, 0.05) 100%) 0% 0% no-repeat padding-box;
    backdrop-filter: blur(22px) brightness(110%);

    border-radius: 20px;
    padding: 20px 40px;
    max-width: 1174px;
    margin: 0 auto 133px auto;
    width: 70%;
  }

  @media (max-width: 960px) {
    .statsContainer {
        display: none;
    }
  }
  
  .stats {
    text-align: center;
    color: #f5efe6;

  }
  
  .number {
    display: block;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 7px;
  }
  
  .label {
    font-size: 24px;
    color: #f5efe6;
  }

  .trusted-brands {
    display: flex;
    justify-content: space-evenly;
    margin: 0 206px;
  }
  
  .trusted-brands img {
    height: 30px;
    opacity: 0.31;
    margin: 43.74px 0 134.82px 0;
  }
  
  @media (min-width: 1200px) {
    .trusted-brands img {
        height: 40.48px;
    }
  }
 
  @media (max-width: 1200px) {
    .trusted-brands {
        margin: 0 100px;
    }
  }

  @media (max-width: 960px) {
    .trusted-brands {
        margin: 0;
    }
  }

  @media (max-width: 960px) {
    .second-brands {
        display: none;
    }
  }
  


  // ////////////////////////////////////////////////////

  $primary-color: #f5efe6;
  $background-color: rgba(0, 0, 0, 0.6);
  $font-size-title: 55px;
  $font-size-subtitle: 18px;
  $font-size-service-title: 24px;
  $button-padding: 10px 20px;

  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin transition($property, $duration, $timing) {
    transition: $property $duration $timing;
  }

  .security-Services-Section {
    text-align: center;
    
    .title {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      margin-left: 190px;
      margin-bottom: 87px;
    }

    .section-Title {
      font-size: $font-size-title;
      font-weight: bold;
      color: $primary-color;
      margin: 0 40px ;
    }

    .section-Subtitle {
      font-size: $font-size-subtitle;
      color: $primary-color;
      margin: 0;
      font-weight: 300;
    }

    .services-Container {
      display: grid;
      grid-template-columns: repeat(1, 3fr);
      gap: 20px;
      max-width: 1486px;
      margin: 0 auto;

      .service-Card {
        border-radius: 39px;
        padding: 30px;
        color: $primary-color;
        display: flex;
        flex-direction: row;

        background: transparent linear-gradient(180deg, rgba(112, 112, 112, 0.05) 0%, rgba(56, 56, 56, 1) 100%) 0% 0% no-repeat padding-box;
        backdrop-filter: blur(50px) brightness(0%);

        .icon {
          margin-bottom: 20px;
          border: solid 1px $primary-color;
          border-radius: ;

          img {
            max-width: 40px;
            padding: 20px;
          }
        }

        .service-Title {
          font-size: $font-size-service-title;
          margin-bottom: 10px;
        }

        .service-Description {
          font-size: $font-size-subtitle;
          max-width: 954px;
          
        }

        .book-Call-Button {
          padding: $button-padding;
          background-color: $primary-color;
          border: none;
          border-radius: 5px;
          color: darken($primary-color, 90%);
          cursor: pointer;
          @include transition(background-color, 0.3s, ease);

          &:hover {
            color: white;
          }
        }
      }
    }

    @media (max-width: 768px) {
      .services-Container {
        grid-template-columns: 1fr;
        gap: 40px;
      }
    }
  }